.home-page{

   .img{
      border: white solid 1px ;
      border-radius: 40%;
      width: 35%;
      height: 85vh;
      margin-left: 20%;
      margin-top: 30px;
   }

    .text-zone{
        position: absolute;
        left: 10%;
        top:50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        text-align: center;
        padding-left: 50%;

    }
    h1 {
        
        color:aquamarine;
        font-size: 53px;
        margin: 10px;
        font-family:'Lucida Grande';
        font-weight: 400;
     }
     h2{
        color:grey;
        margin-top: 5px;
        font-weight: 400;
        font-size:11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIN 1s 1.8s backwards;
     }
     .btn{
        padding: 15px;
     }
     .flat-button{
        color: #7fffd4;
        font-size: 13px;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border:1px solid #7fffd4;
        white-space: no-wrap;

        &:hover{
            background: #7fffd4;
            color: rgb(32, 32, 32);
        }
     }
    }